/*----------- Titillium Web fonts -----------*/

@font-face {
    font-family: 'Titillium Web';
    src: url(../../fonts/Titillium_Web/titilliumweb-regular-webfont.woff2);
    src: url(../../fonts/Titillium_Web/titilliumweb-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../../fonts/Titillium_Web/titilliumweb-bold-webfont.woff2);
    src: url(../../fonts/Titillium_Web/titilliumweb-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../../fonts/Titillium_Web/titilliumweb-italic-webfont.woff2);
    src: url(../../fonts/Titillium_Web/titilliumweb-italic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url(../../fonts/Titillium_Web/titilliumweb-bolditalic-webfont.woff2);
    src: url(../../fonts/Titillium_Web/titilliumweb-bolditalic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

/*----------- Roboto fonts -----------*/

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/roboto-regular-webfont.woff2);
    src: url(../../fonts/Roboto/roboto-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/roboto-bold-webfont.woff2);
    src: url(../../fonts/Roboto/roboto-bold-webfont.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/roboto-italic-webfont.woff2);
    src: url(../../fonts/Roboto/roboto-italic-webfont.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../../fonts/Roboto/roboto-bolditalic-webfont.woff2);
    src: url(../../fonts/Roboto/roboto-bolditalic-webfont.woff);
    font-weight: bold;
    font-style: italic;
}

/*----------- Arial font -----------*/

@font-face {
    font-family: 'Arial';
    src: url(../../fonts/Arial/arial-webfont.woff2);
    src: url(../../fonts/Arial/arial-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url(../../fonts/Arial/arialbd-webfont.woff2);
    src: url(../../fonts/Arial/arialbd-webfont.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url(../../fonts/Arial/ariali-webfont.woff2);
    src: url(../../fonts/Arial/ariali-webfont.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url(../../fonts/Arial/arialbi-webfont.woff2);
    src: url(../../fonts/Arial/arialbi-webfont.woff);
    font-weight: bold;
    font-style: italic;
}