/* Header variables */

$headerBackgroundColor:#87509c;
$headerButtonBackgroundColor:#eb7d4b;
$headerHeadlineColor:#f7f3ea;
$headerCommonColor:#ffffff;

/* Services Section variables */

$servicesSectionBackgroundColor:#17c2a4;
$serviceSeactionHeadlineColor: #ffffff;
$serviceSeactionBorderColor:#000000;
$serviceSeactionCommonColor: #ffffff;

/* Team Section variables */

$teamSectionBackgroundColor:#e7f1f8;
$teamSeactionIconBackgroundColor:#bdd1df;
$teamSeactionHeadlineColor: #3c4761;
$teamsSeactionBorderColor:#bdd1df;
$teamSeactionCommonColor: #3c4761;
$teamSeactionNameColor:#27283d;
$teamSeactionOccupationColor:#30bae7;
$teamSeactionIconColor: #ffffff;

/* Skills Section variables */

$skillsSectionBackgroundColor:#ffffff;
$skillsSeactionHeadlineColor: #3c4761;
$skillssSeactionBorderColor:#dfe8ed;
$skillsSeactionCommonColor: #3c4761;

/* Portfolio Section variables */

$portfolioSectionBackgroundColor: #ffdd99;
$portfolioSectionActivButtonBackgroundColor: #ffffff;
$portfolioSectionLinkButtonBackgroundColor: #17c2a4;
$portfolioSectionButtonBackgroundColor: #ebcb8d;
$portfolioSeactionHeadlineColor: #393939;
$portfoliosSeactionBorderColor:#e5c37f;
$portfolioSeactionCommonColor: #393939;
$portfolioSeactionButtonLinkColor: #ffffff;

/* Reviews Section variables */

$reviewsSectionBackgroundColor: #d74680;
$reviewsSeactionHeadlineColor: #ffffff;
$reviewssSeactionBorderColor:#b73b6d;
$reviewsSeactionCommonColor: #ffffff;
$reviewsSeactionReviewerOccupationColor: #ffdd99;

/* Form Section variables */
$formSectionBackgroundColor: #3c5499;
$formSectionFildBackgroundColor: #273a71;
$formSectionButtonBackgroundColor: #30bae7;
$formSeactionHeadlineColor: #ffffff;
$formsSeactionBorderColor:#273a71;
$formSeactionCommonColor: #ffffff;

/* Footer variables */

$footerBackgroundColor: #344b8e;
$footerCommonColor: #ffffff;
$footerActiveCommonColor: #30b9e6;

/* Variables for media*/

$screen-small:400px;
$screen-medium:760px;
$screen-large:1000px;
$screen-ex-large:1300px;

/*---------------------------------------------*/